<ng-container *ngIf="config && form">

    <title>{{config.name}}</title>


    <ng-container *ngFor="let field of config.fields">
        <ng-container [ngSwitch]="field.type">
            <ng-container [ngTemplateOutlet]="input"
                [ngTemplateOutletContext]="{formControl: form.controls[field.name]}"></ng-container>

        </ng-container>
    </ng-container>
</ng-container>

<!-- TODO: add mask to imput -->
<ng-template #input let-control="formControl" let-mask="mask" let-disabled="disabled">
    <input [formControl]="control" [disabled]="disabled">
</ng-template>